*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
}
#logo{
  padding-right: 480px;
  padding-bottom: 180px;
  height: 1px;
}
.container{
    background: #fff;
    width: 100%;
    height: 27vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    background: #fcf1fa;
    border-radius: 50px;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0,4);
    justify-content: center;
    display: flex;
}
header ul li{
    list-style: none;
    display: inline-block;
    padding: 13px 35px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}
header ul li::after{
    content: '';
    background: #ecb1bc;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}
header ul li :hover{
    color: #fff;
}
header ul li:hover::after{
  top: 50%;
  opacity: 1;
}
.container2{
  width: 100%;
  height: 100%;
  height: 100vh;
  background-image: url(./pic/back1.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card {
  width: 60%;
  max-width: 440px;
  color: #fff;
  text-align: center;
  padding: 50px 35px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(1px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  margin: 10px;
  transform: scale(0.8);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10%;
}
.card h2{
  font-size: 40px;
  font-weight: 600;
  margin-top: 20px;
}
.card p{
  font-size: 18px;
  margin: 10px;
  max-width: 330px;
}
.card .links img{
  width: 40px;
  border-radius: 50%;
  margin: 10px 5px;
  transition:  0.5s;
} 
.card .links img:hover{
  background: #eee7ed;
}
 .container1{
  margin: 50px;
  padding: 50px;
  text-align: center;
  
}
  
.rating label:before {
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 24px; 
  }
  
  .rating input:checked ~ label {
    color: #ffbf00;
  }
  
  .rating label:hover,
  .rating label:hover ~ label {
    color: #ffbf00;
  }
  .recipe-name {
    font-size: 24px;
    color: black;
  }
  
  
footer {
  background-color: #d9d0d0;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.footer-social,
.footer-logo {
  flex: 1 1 200px;
  margin: 10px;
}
.footer-social {
  font-size: 18px;
  margin-bottom: 15px;
}
.footer-social ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer-social li {
  margin-bottom: 8px;
}
.footer-social a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer-social a:hover {
  color: #a8a8a8;
}

.footer-logo img {
  max-width: 100px;
}

.footer-bottom {
  margin-top: 40px;
  font-size: 14px;
  color: #a8a8a8;
}
.footer-social ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d9d0d0;
  color: #fff;
  text-align: center;
  line-height: 40px;
  transition: background-color 0.3s ease;
}

.footer-social ul li a:hover {
  background-color: #a8a8a8;
}


@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }
  

  .footer-social,
  .footer-logo {
    margin: 10px 0;
  }
}
#display{
  border: #ecb1ec;
  background-color: #d9d0d0;
  text-align: left;
   display: flex; 
   flex-direction:column; 
}

#recipe_name{
  height: 50px;
  width: 400px;
  border: 1px solid rgba(42, 193, 100, 0.8);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(1px);
  box-shadow: 0 4px 30px rgba(87, 153, 26, 0.8);
}
#recipe_name:hover{
  padding: 10px;
  border: 7px solid rgba(42, 193, 100, 0.8);
  backdrop-filter: blur(3px);
}
#submit_btn{
  height: 50px;
  width: 50px;
  border: 1px solid rgba(42, 193, 100, 0.8);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(1px);
  box-shadow: 0 4px 30px rgba(87, 153, 26, 0.8);
}
#submit_btn:hover{
  padding: 10px;
  border: 4px solid rgba(42, 193, 100, 0.8);
  backdrop-filter: blur(3px);
}
#btn_clear{
  height: 50px;
  width: 50px;
  border: 1px solid rgba(242, 1, 1, 0.8);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(1px);
  box-shadow: 0 4px 30px rgba(242, 1, 1, 0.8);
  margin-top: 5px;
  margin-right: 130px;
}
#btn_clear:hover{
  padding: 7px;
  border: 4px solid rgba(242, 1, 1, 0.8);
  backdrop-filter: blur(3px);
}
.recipe-card-container{
  display: flex;
  flex-wrap: wrap;
}
#myDropdown{
  height: 50px;
  width: 100px;
  border: 1px solid rgba(42, 193, 100, 0.8);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(1px);
  box-shadow: 0 4px 30px rgba(87, 153, 26, 0.8);
}
#myDropdown:hover{
  padding: 10px;
  border: 4px solid rgba(42, 193, 100, 0.8);
  backdrop-filter: blur(1px);
}